<header>
  <div class="row">
    <div class="col-sm-4 row">
      <img class="col-sm-7 row" [src]="logo" width="50px" height="100px">
      <h1 class="col-sm-12 row"><span style="color: #015E87">Blue</span><span style="color: #ADACA8">Ray</span></h1>
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <nav class="col-sm-8">
      <ul>
        <a routerLink=""><li>Home</li></a>
        <a routerLink=""><li>About Us</li></a>
        <a routerLink="/ourservices"><li>Our services</li></a>
        <a routerLink=""><li>Shipping</li></a>
        <a routerLink="/tracking"><li>Tracking</li></a>
        <a routerLink=""><li>Contact Us</li></a>
      </ul>
    </nav>
  </div>
</header>