<div class="container">
<header class="row">
    <div class="col-sm-12">
    <img class="imgclass" [src]="logo" width="180px" height="80px" />
    <h1><span style="color: #015E87">Blue</span><span style="color: #ADACA8">Ray</span></h1>
    <nav>
        <li>Home</li>
        <li>About Us</li>
        <li>Our services</li>
        <li>Shipping</li>
        <li>Tracking</li>
        <li>Contact Us</li>
    </nav>
</div>
</header>

<div class="row mt-4">
    <div class="col-sm-4 mr-3">
        <nav class="sidemenu mt-4">
            <a routerLink='/'>International Courier Services</a>
            <a routerLink='/dc'>Domestic Courier Services</a>
            <a routerLink='/sf'>Sea Freight</a>
            <a routerLink='/lo'>Logistics</a>
            <a routerLink='/af'>Air Freight</a>
        </nav>
        <button type="button" class="btn-md btn btn-default"><a routerLink='/po'>PLACE ORDER</a></button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6 mt-4">
        <img class="mb-1" [src]="pic2" width="90%" height="205px" />
        <img class="mt-1" [src]="pic1" width="90%" height="205px" />
    </div>
</div>
</div>
    <!--<div class="myclass" *ngFor="let info of infor" style="display: inline;">
        <h1>Information Desk</h1>
        <label>Email:</label>
        <p> {{info.email}} </p>
        <label>Phone:</label>
        <p> {{info.phone}} </p>
        <label>Address:</label>
        <p> {{info.address}} </p>
    </div>-->


<main>
    <router-outlet>
    </router-outlet>
</main>